{% extends "layout.html" %}
{% block content %}
<script>
    var drawingPattern = [[], [], [], [], [], [], [], []];
</script>
<div class="content-section">
    <form method="POST">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Add Character</legend>
            <div class="row">
                <div class="col">
                    <p class="fw-light">Add a new character pattern to the database.</p>
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                    <label for="namebox" class="fw-light">Character:</label>
                    <input type="text" name="character" class="form-control form-control-lg" id="charabox" required />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-info" onclick="addCharacter(characterId, event)">Add</button>
                    <button type="reset" class="btn btn-outline-info" onclick="resetButton()">Reset</button>
                    <a href="settings" class="btn btn-outline-secondary">Cancel</a>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    {% include "led_matrix_table.html" %}
                </div>
            </div>
            <div class="row" hidden>
                <div class="col">
                    <input type="text" name="patternbox" class="form-control form-control-lg" id="arraybox" readonly />
                </div>
            </div>
            <div class="row" {{ is_hidden }}>
                <div class="col">
                    <div class="alert alert-danger" role="alert">
                        The character already exists in the database. Modify it instead.
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<script>
    var pattern = drawingPattern;
    // var buttonsEnabled = {{ buttonsEnabled|default (True) | lower }};
    //loadButtons(drawingPattern);
    displayClickedButtons(drawingPattern);
    //idBox = document.getElementById('drawingId');
    //idBox.value = drawingId;
</script>
{% endblock content %}